<div>
  <a href="/"><h1>Portfolio of <%- name %></h1></a>
  <button id="chooseBG">Choose your background!</button>
</div>
<div id="colorArray" class="hidden">
  <p>Which color do you want the website to be?</p>
  <button>Standard</button>
  <button class="red" value="red">Red</button>
  <button class="blue" value="blue">Blue</button>
  <button class="yellow" value="yellow">Yellow</button>
  <button class="purple" value="purple">Purple</button>
</div>
