
<div>
    <a href="/"><h1>Portfolio of [INSERT STINKY NAME]</h1></a>
    <button id="chooseBG">Choose your background!</button>
</div>
<div id="colorArray" class="">
    <p>Which color do you want the website to be?</p>
    <button>Standard</button>
    <button id="red">Red</button>
    <button id="blue">Blue</button>
    <button id="yellow">Yellow</button>
    <button id="purple">Purple</button>
</div>